.showcase {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.showcase > div {
    border-radius: 10px;
    background-color: beige;
    padding: 1rem;
}

.game h2 {
    padding: 0;
    margin: 0;
    margin-bottom: 0.5rem;
}

.game__options > button {
    cursor: pointer;
}

.game__options > button:not(:last-child) {
    margin-bottom: 0.5rem;
}

.game__options > button a {
    text-decoration: none;
    color: black;
}